{% extends 'base.html' %}

{% block title %}About Us{% endblock %}
{% block description %}Learn more about Magifind, the AI-powered search engine that delivers unparalleled search
experiences.{% endblock %}

{% block content %}
<section class="container my-5" style="margin-top: 50px">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2>The Magifind Story</h2>

            <p>Magifind was founded by Thomas van Turnhout and Koen van Eijk, two lifelong friends with a shared passion
                for innovation. After successful corporate careers and the establishment of their first venture, Oakwood
                Technologies, they embarked on a new journey to transform the search landscape.</p>
            <p>With their groundbreaking Smart Robotic Process Automation software suite, Automagica, and other
                solutions Thomas and Koen
                served high-profile companies such as Google, Adidas, KPMG, VRT, Sporza, LiveNation, and Maria
                Middelares
                hospital. Their
                success led to the acquisition of Oakwood Technologies by Netcall plc, where they continued to drive
                innovation for another three years.</p>
        </div>

        <div class="col-md-6 order-md-1 text-center">
            <img src="/images/founders_0.jpg" alt="Thomas van Turnhout en Koen van Eijk, founders of Magifind"
                class="img-fluid rounded mb-3 float-md-start" style="max-width: 500px;">
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-1 text-center">
                <img src="/images/semantic-search-2.svg" alt="Magifind's AI-powered search technology"
                    class="img-fluid rounded mb-3 float-md-start" style="max-width: 300px;">
            </div>
            <div class="col-md-6 order-md-2">
                <h2>Magifind: The AI-Powered Search Revolution</h2>
                <p>Magifind is a semantic search engine that delivers unparalleled search experiences. Our autonomous
                    crawling technology seamlessly gathers content and metadata from websites, enabling swift
                    integration within minutes. Unlike competitors that require costly custom integrations, Magifind
                    offers a full-service, end-to-end solution for exceptional search functionality on your website.</p>
            </div>
        </div>
    </div>
</section>

<section class=" container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2>Our Values and Culture</h2>

            <p>At Magifind, we are committed to open source and transparency. We believe in sharing our
                journey and
                insights through our blog, fostering a culture of collaboration and knowledge-sharing. Our
                team is
                driven by a passion for innovation and a dedication to delivering cutting-edge solutions
                that make a
                real difference in people's lives.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/deal.svg" alt="Magifind team collaborating" class="img-fluid rounded mb-3 float-md-end"
                style="max-width: 300px;">
        </div>

    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <h2>Trusted by Industry Leaders</h2>
        <p>Although Magifind is a young company, our founders bring a wealth of experience and a proven track record of
            success. In their previous venture, they had the privilege of serving renowned global brands such as Google,
            Adidas
            and KPMG, as well as other esteemed customers like VRT/Sporza, LiveNation and Maria Middelares hospital. We
            are
            honored
            to have received a glowing recommendation letter from Netcall plc, our acquirer, attesting to Thomas and
            Koen's exceptional performance and expertise.</p>
        <div class="row align-items-center">
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img src="/images/adidas.svg" alt="Adidas logo" class="img-fluid mb-3" style="max-height: 120px;">
            </div>
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img src="/images/kpmg.svg" alt="KPMG logo" class="img-fluid mb-3" style="max-height: 120px;">
            </div>
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img src="/images/livenation.svg" alt="LiveNation logo" class="img-fluid mb-3"
                    style="max-height: 120px;">
            </div>
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img src="/images/az_maria_middelares.svg" alt="Maria Middelares hospital logo" class="img-fluid mb-3"
                    style="max-height: 120px;">
            </div>
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img src="/images/vrt.svg" alt="VRT" class="img-fluid mb-3" style="max-height: 120px;">
            </div>
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img src="/images/google.svg" alt="Google" class="img-fluid mb-3" style="max-height: 120px;">
            </div>

        </div>
    </div>
</section>

{% include('cta_form.html') %}

{% endblock %}