<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZNSK9Z87VM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZNSK9Z87VM');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>magifind - AI search</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600|Poppins:500" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/images/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/images/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/images/favicon-256x256.png">
</head>

<body class="is-boxed has-animations">
    <img id="pxl" />
    <script>
        document.addEventListener("DOMContentLoaded", t => { var e, a = encodeURIComponent(window.location.href); document.getElementById("pxl").src = "https://link.datatalk.app/1.png?url=" + a });
    </script>
    <div class="body-wrap boxed-container">
        {% include 'header.html' %}

        <main>

            {% block content %}
            {% endblock %}

        </main>
        {% include 'footer.html' %}

    </div>
    <script>
        !function () { const e = document, t = e.documentElement, n = e.body, i = e.getElementById("lights-toggle"), s = window.sr = ScrollReveal(); function a() { let e = i.parentNode.querySelector(".label-text"); i.checked ? (n.classList.remove("lights-off"), e && (e.innerHTML = "dark")) : (n.classList.add("lights-off"), e && (e.innerHTML = "light")) } t.classList.remove("no-js"), t.classList.add("js"), window.addEventListener("load", function () { n.classList.add("is-loaded") }), n.classList.contains("has-animations") && window.addEventListener("load", function () { s.reveal(".feature", { duration: 600, distance: "20px", easing: "cubic-bezier(0.215, 0.61, 0.355, 1)", origin: "right", viewFactor: .2 }) }), i && (window.addEventListener("load", a), i.addEventListener("change", a)) }();
    </script>
    <script>
        const lightsToggle = document.getElementById('lights-toggle');
        const magifindText = document.getElementById('magifind-text');
        const searchResults_ = document.getElementById('searchResults');
        const searchInput_ = document.getElementById('searchInput');
        const demoContainer = document.getElementById('demo-container');
        const demo = document.getElementById('demo');

        lightsToggle.addEventListener('change', function () {
            if (this.checked) {
                magifindText.classList.remove('magifind-text-dark');
                magifindText.classList.add('magifind-text');
                searchResults_.classList.remove('search-results-dark');
                searchResults_.classList.add('search-results');
                searchInput_.classList.remove('search-input-dark');
                searchInput_.classList.add('search-input');
                demoContainer.classList.remove('fade-in');
                demo.classList.remove('demo-dark');
                demo.classList.add('demo-light');
                void demoContainer.offsetWidth;


            } else {
                magifindText.classList.remove('magifind-text');
                magifindText.classList.add('magifind-text-dark');
                searchResults_.classList.remove('search-results');
                searchResults_.classList.add('search-results-dark');
                searchInput_.classList.remove('search-input');
                searchInput_.classList.add('search-input-dark');
                void demoContainer.offsetWidth;
                demoContainer.classList.add('fade-in');
                demo.classList.remove('demo-light');
                demo.classList.add('demo-dark');
            }
        });


        document.addEventListener('DOMContentLoaded', function () {
            const faqItems = document.querySelectorAll('.faq-item');

            faqItems.forEach(function (item) {
                const question = item.querySelector('.faq-question');
                question.addEventListener('click', function () {
                    item.classList.toggle('active');
                });
            });
        });
    </script>
</body>

</html>