<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZNSK9Z87VM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZNSK9Z87VM');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}AI Search{% endblock %} - Magifind</title>
    <meta name="description"
        content="{% block description %}Magifind is a revolutionary AI-powered semantic search engine that transforms how users find information on websites. By harnessing cutting-edge artificial intelligence and natural language processing, Magifind delivers unparalleled search results that are both highly relevant and context-aware.{% endblock %}">
    <link rel="icon" href="/images/logo.svg">
    <link href="https://fonts.googleapis.com/css?family=Poppins:500" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/dist/custom.css">
</head>

<body>
    <img id="pxl" />
    <script>
        document.addEventListener("DOMContentLoaded", t => { var e, a = encodeURIComponent(window.location.href); document.getElementById("pxl").src = "https://link.datatalk.app/1.png?url=" + a });
    </script>
    {% block body %}
    {% include 'header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>