{% extends 'base.html' %}

{% block title %}Blog{% endblock %}
{% block description %}Discover the latest news, insights, and updates from the Magifind team. Stay informed about our
products, services, and industry trends.{% endblock %}

{% block content %}
<section class="container py-5">
    <div class="row">

        {% for post in blog.posts %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./{{post.slug}}/{{post.image}}" class="card-img-top" alt="Blog Post Image">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.short }}</p>
                    <a href="./{{post.slug}}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock %}