<div class="container mb-5 card position-relative" style="margin-top: 60px; max-width: 720px; width: 95%; box-shadow: 0px 36px 89px rgba(0, 0, 0, 0.2), 0px 23.3333px 52.1227px rgba(0, 0, 0, .03), 0px 13.8667px 28.3481px rgba(0, 0, 0, .024), 0px 7.2px 14.4625px rgb(0 0 0 / 2%), 0px 2.93333px 7.25185px rgba(0, 0, 0, .016), 0px 0.666667px 3.50231px rgba(0, 0, 0, .01);
">
    <div class="card-body" style="padding-top: 10px; padding: 0;">
        <div class="input-group" style="margin-bottom: 10px">
            <input id="searchInput" type="text" class="form-control form-control-lg" placeholder="Search..." disabled>
            <button class="btn btn-primary" type="button" disabled><i class="bi bi-search"></i></button>
        </div>
        <div id="searchResults" class="row">
        </div>
    </div>
</div>
<style>
    #searchResults {
        height: 225px;
        /* Default min-height for small screens */
        overflow-y: none;
    }

    @media (min-width: 576px) {
        #searchResults {
            height: 300px;
            /* Min-height for screens wider than 576px */
        }
    }

    @media (min-width: 768px) {
        #searchResults {
            height: 300px;
            /* Min-height for screens wider than 768px */
        }
    }
</style>
<style>
    @keyframes pop {
        0% {
            transform: scale(0);
        }

        80% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }
</style>
<script>
    const searchInput = document.getElementById('searchInput');
    const searchResults = document.getElementById('searchResults');
    const searchQueries = [
        'home office setup',
        'toys for kids',
        'tennis gear'
    ];
    const searchResultsData = {
        'home office setup': [
            {
                name: 'Ergonomic Chair',
                image: 'office_chair.svg'
            },
            {
                name: 'Desk Lamp',
                image: 'office_lamp.svg'
            },
            {
                name: 'Headphones',
                image: 'headphones.svg'
            }
        ],
        'tennis gear': [
            { name: 'Tennis Racket', image: 'racket.svg' },
            { name: 'Sneakers', image: 'tennis_shoe.svg' },
            { name: 'Sports Bag', image: 'bag.svg' }
        ],
        'toys for kids': [
            {
                name: 'Teddy Bear',
                image: 'teddy_bear.svg'
            },
            {
                name: 'Remote Control Car',
                image: 'rc_car.svg'
            },
            {
                name: 'Beach Ball',
                image: 'beach_ball.svg'
            }
        ],
    };

    let currentQueryIndex = 0;
    let currentQuery = '';
    let currentLetterIndex = 0;

    function typeQuery() {
        if (currentLetterIndex < searchQueries[currentQueryIndex].length) {
            currentQuery += searchQueries[currentQueryIndex][currentLetterIndex];
            searchInput.value = currentQuery;
            currentLetterIndex++;
            setTimeout(typeQuery, 50);
        } else {
            displaySearchResults();
            setTimeout(nextQuery, 3500);
        }

    }

    function nextQuery() {
        currentQueryIndex = (currentQueryIndex + 1) % searchQueries.length;
        currentQuery = '';
        currentLetterIndex = 0;
        searchInput.value = '';
        searchResults.innerHTML = '';
        typeQuery();
    }

    function displaySearchResults() {
        const query = searchInput.value;
        const lowercaseQuery = query.toLowerCase();
        const matchingKey = Object.keys(searchResultsData).find(key => key.toLowerCase() === lowercaseQuery);

        if (matchingKey) {
            const products = searchResultsData[matchingKey];
            let resultsHTML = '';

            products.forEach((product, index) => {
                resultsHTML += `
                <div class="col-4 mb-4" style="transform: scale(1); animation: pop 0.5s ease-in-out;">
                    <div class="card text-black bg-light h-100" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);">
                      <div class="card-body d-flex flex-column justify-content-center" style="padding: 0px; height: 100%;">
                        <img src="/images/${product.image}" alt="${product.name}" class="mb-4 img-fluid align-self-center">
                        <div class="text-center">
                          <h3 class="card-title" style="font-size: clamp(0.8rem, 2.5vw, 1.2rem);">${product.name}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
    `;
            });

            searchResults.innerHTML = resultsHTML;
        } else {
            searchResults.innerHTML = '<p>No results found.</p>';
        }
    }
    typeQuery();
</script>