{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="display-4 mb-4 mt-4">Better search, more sales</h1>
            <p class="lead mb-5">Our AI search improves user experience and requires no tedious integration. It is time
                to drop traditional keyword search and adopt the next-gen.</p>
            <a href="#cta" class="btn btn-primary btn-lg mb-5">Get started now</a>

        </div>
    </div>
</div>

{% include('demo.html') %}

<div class="container mt-5 mb-5">
    <div class="row text-center">
        <h2 class="mb-4" id="features">Discover what we have to offer</h2>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <img src="/images/amazed.svg" class="mb-4" style="width: 160px;">
                    <h3 class="card-title">Enhance User Experience</h3>
                    <p class="card-text">Provide your customers with a superior search experience that understands their
                        intent and delivers accurate and relevant results.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <img src="/images/rocket.svg" class="mb-4" style="width: 160px;">
                    <h3 class="card-title">Boost Conversions</h3>
                    <p class="card-text">Improve your online retail conversions by helping customers find the products
                        they're looking for quickly and easily.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <img src="/images/automation.svg" class="mb-4" style="width: 160px;">
                    <h3 class="card-title">Works like magic</h3>
                    <p class="card-text">Zero integration, our fully autonomous crawlers index all the content you have.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include('cta_form.html') %}

<div class="container  mt-5">
    <h2 class="text-center mb-5">FAQ</h2>
    <div class="accordion" id="faqAccordion">
        {% for question in faq.questions %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ loop.index }}" aria-expanded="false"
                    aria-controls="collapse{{ loop.index }}">
                    {{ question.question }}
                </button>
            </h2>
            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse"
                aria-labelledby="heading{{ loop.index }}" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    {{ question.answer }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <img src="/images/question.svg" style="width: 200px;">
</div>

{% endblock %}