{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block description %}Our AI search improves user experience and requires no tedious integration. It is time to drop
traditional keyword search and adopt the next-gen.{% endblock %}

{% block content %}
<style>
    .display-4 span.search {
        position: relative;
        display: inline-block;
    }

    .display-4 span.search svg {
        position: absolute;
        left: 0;
        bottom: calc(-25px - 3vw);
        /* Increased the bottom margin for all viewports */
        width: 33%;
        /* Smaller base width for mobile */
        height: auto;
    }

    @media (min-width: 768px) {
        .display-4 span.search svg {
            bottom: -75px;
            /* Increased the margin for larger screens */
            width: 40%;
            /* Original width for larger screens */
        }
    }

    .squiggle {
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
        animation: draw 1s ease-in-out forwards;
        stroke-width: 1.5;
        /* Keep the line thin */
        transform: scaleY(0.7);
        /* Scale the squiggle to reduce its height; adjust the value as needed */
        transform-origin: 50% 0%;
        /* Scale around the top of the path to avoid visual offset */
    }

    @keyframes draw {
        to {
            stroke-dashoffset: 0;
        }
    }
</style>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="display-4 mb-4 mt-4">Better <span class="search">search,<span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 20">
                            <path class="squiggle" fill="none" stroke="#FFE169" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                d="M0,10 c5,0,7-3,11-3 s1,5,5.5,5 s10.75-3,20.5-3" />
                        </svg>
                    </span>more sales</h1>
            <p class="lead mb-5">Smart site search that knows and understands your users</p>
            <a href="#cta" class="btn btn-primary btn-lg">Start now!</a>
        </div>
    </div>
</div>



{% include('demo.html') %}

<div class="container mt-5 mb-5" style="max-width: 720px">
    <h2 class="text-center mb-4" id="features">Discover what we have to offer</h2>

    <div class="row mb-4 align-items-center pt-4">
        <div class="col-md-6 order-md-2 text-center">
            <img src="/images/rocket.svg" alt="Enhance User Experience" style="width: 200px;"
                class="float-md-end mb-3 img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Boost Conversions</h3>
            <p>Improve your online retail conversions by helping customers find the products they're looking for quickly
                and easily.</p>
        </div>
    </div>

    <div class="row mb-4 align-items-center pt-4">
        <div class="col-md-6 text-center">
            <img src="/images/amazed.svg" alt="Boost Conversions" style="width: 200px;"
                class="float-md-start mb-3 img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Enchance User Experience</h3>
            <p>Provide your customers with a superior search experience that understands their intent and delivers
                accurate and relevant results.</p>
        </div>
    </div>

    <div class="row mb-4 align-items-center pt-4">
        <div class="col-md-6 order-md-2 text-center">
            <img src="/images/magic_wand.svg" alt="Works like magic" style="width: 200px;"
                class="float-md-end mb-3 img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Works like magic</h3>
            <p>Zero integration, our fully autonomous crawlers index all the content you have. Get up and running in
                literally minutes.</p>
        </div>
    </div>

</div>


<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">Latest Blog Posts</h2>
    <div class="row"> {% for post in posts[:4] %} <div class="col-md-3 mb-4">
            <div class="card h-100 d-flex flex-column"> <img src="/blog/{{post.slug}}/{{ post.image }}"
                    class="card-img-top" alt="{{ post.title }}">
                <div class="card-body d-flex flex-column flex-grow-1">
                    <h3 class="card-title text-center">{{ post.title }}</h3>
                    <div class="mt-auto text-center"> <a href="/blog/{{ post.slug }}" class="btn btn-primary"
                            title="Read more on {{ post.title }}">{{ post.link_text }}</a> </div>
                </div>
            </div>
        </div> {% endfor %} </div>
    <div class="text-center mt-4"> <a href="/blog" class="btn btn-secondary">View All Posts</a> </div>
</div>

{% include('cta_form.html') %}

<div class="container  mt-5">
    <h2 class="text-center mb-5">FAQ</h2>
    <div class="accordion" id="faqAccordion">
        {% for question in faq.questions %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ loop.index }}" aria-expanded="false"
                    aria-controls="collapse{{ loop.index }}">
                    {{ question.question }}
                </button>
            </h2>
            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse"
                aria-labelledby="heading{{ loop.index }}" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    {{ question.answer }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <img src="/images/question.svg" style="width: 200px;" alt="Magifind - FAQ">
</div>


{% endblock %}